p{
	color: lightgrey;
	font-family: times;
	font-size:150%;
}
h1{
	color:green;
	font-family: arial;
	text-align:center;
}
body{
	background-color:black;
}

div
{
	 width:1024px;
	 margin:auto;
}